@import url('reset.css');

* {

    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #09090B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1400px;
    gap: 20px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 140px;
    width: 100%;

    a {
        color: aliceblue;
    }
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
}

h3 {
    font-size: 28px;
}

.burger-menu{
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: #18181B;
    width: 44px;
    height: 44px;
}
.burger-divider{
    width: 22px;
    height: 1px;
    background-color: #FFFFFF;
}
.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0077FF;
    color: #FFFFFF;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 12px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.breadcrumbs {
    display: flex;
    width: 100%;
    font-size: 18px;
}

.crumbs-white {
    color: #FFFFFF;
}

.crumbs-gray {
    color: #52525B;
}

.banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #18181B;
    width: 100%;
    height: 240px;
    font-size: 18px;
    border-radius: 24px;
    width: 1400px;
    padding: 24px;
    gap: 70px;

    p {
        color: #FFFFFF;
    }

    h2 {
        color: #FFFFFF;
        font-size: 60px;
    }
}

.banner-top-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.banner-buttons {
    display: flex;
    gap: 10px;
}

.banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0077FF;
    color: #FFFFFF;
    font-size: 24px;
    padding: 8px 12px;
    border-radius: 12px;
}

.cards {
    display: flex;
    width: 100%;
    gap: 20px;
}

.card-choose {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.card1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 260px;
    gap: 30px;
    padding: 30px;
    color: #FFFFFF;
    background-color: #18181B;
    border-radius: 24px;
}

.card2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 295px;
    gap: 30px;
    padding: 30px;
    color: #FFFFFF;
    background-color: #18181B;
    border-radius: 24px;
    p{
        15px;}
}

.main-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 520px;
    gap: 30px;
    padding: 24px;
    background-color: #18181B;
    color: #FFFFFF;
    border-radius: 24px;

    h4 {
        font-size: 20px;
    }
}

.card-descript {
    display: flex;
    gap: 10px;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.card-button-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0077FF;
    color: #FFFFFF;
    font-size: 24px;
    padding: 16px 145px;
    border-radius: 12px;
}

.card-button-gray {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27272A;
    border: 1px #3F3F46;
    color: #FFFFFF;
    border: 1px solid #3F3F46;

    font-size: 24px;
    padding: 16px 145px;
    border-radius: 12px;
}
.main-card ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding-left: 20px;
    gap: 10px;
}

.main-card li {
    color: #FFFFFF;
    line-height: 1.5;
}
.main-card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18181B;
    width: 100%;
    height: 290px;
    border-radius: 24px;
    padding: 45px;
    color: #FFFFFF;
}
.footer-content-left{
    display: flex;
    flex-direction: column;
    gap: 130px;
}
.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 12px;
}
.footer-content-left-top{
    display: flex;
    gap: 25px;
}
.footer-content-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.mobile-only{
    display: none;
}
.desktop-only{
    display:flex;
}
@media (max-width: 755px){
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display:inherit;
    }
    nav{
        max-width: 100%;
        width: 100%;
        padding: 0 15px;
    
    }
    body{
        align-items: center;
    }
    .banner{
        height: auto;
        width: 100%;
        h2{
            font-size: 30px;
        }
        gap: 30px;
        p{
            font-size: 12px;
        }
        padding: 20px;
    }
    .banner-bottom-content{
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    .banner-button{
        font-size: 10px;
    }
    main{
        flex-direction: column;
        width: 100%;
                max-width: 100%;

    }
    .card1{
        .card-button-gray{
            padding:22px;
            font-size: 20px;
        }
        .card-button-blue{
            padding:22px;
            font-size: 20px;
        }
    }
    .card2{
        white-space: nowrap;
        .card-button-gray{
            font-size: 20px;
            padding: 15px;
        }
    }
    .main-card{
        height: fit-content;
        gap: 25px;
        ul{
            font-size: 13px;
        }
        h4{
            font-size:15px;
        }
    }
    .cards{
        flex-direction: column;
        width: 100%;
    }
    .breadcrumbs{
        font-size: 12px;
    }
    .card-button-gray{
        background-color: #FFFFFF;
        color:#18181B;
    }
    .footer{
        padding: 24px;
        gap: 20px;
        height: fit-content;
        align-items: flex-start;
        flex-direction: column;
        .footer-content-left-top{
            flex-direction: column;
            gap: 5px;
        }
        .footer-content-right{
            flex-direction: column;
            gap: 8px;
        }
        a{
            font-size: 15px;
        }
        p{
            font-size: 12px;
        }
        img{
            width:100px;
            height: 35px;
        }
    }

}
